


.card{
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-evenly;
  margin-left: 10px;
  margin-top: 10px;
  justify-content: center;

}

.card-title {
  background-color: lightgray;
  text-align: center;
  border: solid 1px blue;
  padding: 10px;
}

img.card-img-top {
  /* height: 10rem;
  width: 10rem; */
 /* margin-left: auto;
 margin-right: auto; */
}

.pet-types {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
